body{
    background-color: #1b1a1a;
}
.rules{
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 20px;
}
.street-dodger-title{
    color: rgb(233, 12, 12);
    text-align: center;
    font-family: Arial, sans-serif;
    font-size:45px;
    font-style: italic;
}
.canvas{
    border: 1px solid rgb(233, 12, 12);
    display:block;
    margin:0 auto;
}
button{
    background-color: rgb(233, 12, 12);
    border: 1px solid rgb(146, 6, 6);
}
button:hover{
    background-color: rgb(146, 6, 6);
    border: 1px solid rgb(233, 12, 12);
    transform: translateY(-2px);
}